{% extends "email/_base_email.html" %} {% block subject %}Reset your TaskDesk password{% endblock %} {% block body %}
<h2 style="margin-top:0">Reset your password</h2>
<p>Hello {{ user.name or user.email }},</p>
<p>We received a request to reset your TaskDesk password. Click the button below to choose a new one:</p>
<p>
    <a class="btn" href="{{ link }}">Reset Password</a>
</p>
<p>If you didn’t request this, you can safely ignore this email.</p>
<p class="muted">This link expires after a short time for your security.</p>
{% endblock %}